body {
    background: #224444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.jumbotron {
    background: #559999;
    color:#ddd;
    height:220px;
    padding-top: 20px;
    margin-top:15px;
}

.card-header {
    background: #aaa;
}

.card-body {
    background: #ccc;
}

.card {
    border:none;
    margin-bottom:15px;
}
